/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[B]build/
/[Bb]uilds/
/Assets/AssetStoreTools*

/.vscode/
/.vs/


ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

*.pidb.meta

sysinfo.txt

*.apk
*.unitypackage